@media (max-width: 768px) {
    .home {
        text-align: center;
    }
    .home .atas-kiri {
        float: none;
    }
    .atas-kanan {
        float: none;
        margin: 0 auto;
    }
    .atas-kanan img {
        height: 240px;
    }
    .btn {
        width: 100%;
    }
    .video, .kontak {
        text-align: center;
    }
    .abc hr {
        float: none;
    }
    iframe {
        width: 300px; 
        height: 180px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .abc {
        width: 100%;
    }
    .heada {
        display: none;
    }
    table {
        font-size: 12px;
    }
    .bn {
        width: 270px;
        height: 165px;
        margin-top: 0px;
    }
}