@media (max-width: 1140px) {
    .home {
        text-align: center;
    }
    .atas-kanan {
        float: none;
        margin: 0 auto;
    }
    .atas-kanan img {
        height: 240px;
    }
    .btn {
        width: 100%;
    }
    .video {
        text-align: center;
    }
    .abc hr {
        float: none;
    }
    .video iframe {
        width: 300px; 
        height: 180px;
        margin-top: 40px;
    }
    .abc {
        width: 100%;
    }
}