* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    scroll-behavior: smooth;
}

main {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(255, 81, 81, 0.8);
    position: fixed;
    z-index: 10;
}

.header-logo {
    padding: 10px 0;
}

.header-logo h3 {
    margin: 17px 20px;
    font-size: 20px;
    color: black;
}

.header-list li {
    padding: 10px 30px;
    font-size: 18px;
    position: relative;
    display: block;
}

.header-list li a {
    color: rgb(235, 235, 235);
    font-weight: bold;
    padding: 12px 0;
    margin-top: -12px;
}

.header-list li a:hover {
    color: brown;
    transition: all 0.5s;
}

.login {
    float: left;
    margin-left: 30px;
    display: block;
    color: rgb(255, 81, 81);
    border: 2px solid rgb(255, 81, 81);
    background-color: white;
    padding: 0 24px;
    line-height: 40px;
    border-radius: 6px;
}

.login:hover {
    background-color: rgba(255, 81, 81, 0.8);
    color: white;
    border: 2px solid white;
    transition: all 0.5s;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

main {
    width: 100%;
}

.home {
    padding: 200px 0 180px 0;
    color: black;
    background-image: url('gambar.jpg');
    background-size: cover;
}

.atas-kanan {
    float: right;
}

.atas-kiri {
    float: left;
    margin-top: 50px;
}

.home h1 {
    opacity: 0.9;
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.btn {
    padding: 12px 32px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    text-decoration: none;
}

.info {
    color: white;
    background-color: rgb(255, 39, 39);
    border-radius: 8px;
    border: 2px solid white;
    font-size: 20px;
}

.info:hover {
    transition: all 0.5s;
    border: 2px solid rgb(255, 39, 39);
    color: rgb(255, 39, 39);
    background-color: white;
}

.btn-home {
    margin: 100px 0 0 20px;
}

.left {
    float: left;
}

.profil {
    padding-bottom: 100px;
}

.heading {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    color: rgb(63, 0, 0);
}

.heading h1 {
    font-weight: normal;
    font-size: 30px;
    opacity: 0.8;
}

.heading hr {
    margin: 0 auto;
}

.tiga {
    width: 33%;
}

.logo-profil {
    margin-left: 12.5%;
    width: 75%;
    margin-top: 40px;
}

.fa {
    color: rgb(255, 85, 85);
}

.lfeature {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}

.lfeature div {
    position: absolute;
    right: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}

.rfeature {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    text-align: left;
    margin-top: 35px;
}

.rfeature div {
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}

.profil a {
    color: #333333;
    font-size: 24px;
}

.profil a:hover {
    text-decoration: underline;
}

.profil p {
    color: #333;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    opacity: 0.8;
}

.video {
    background-color: #e4e4e4;
    background-size: cover;
}

.video-left {
    float: left;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    width: 45%;
    letter-spacing: 1px;
}

.video-left h1 {
    font-weight: 800;
    font-size: 30px;
    position: relative;
    color: #333;
}

.video-left p {
    color: #333;
    font-size: 18px;
    width: 70%;
    opacity: 0.8;
}

.video-left hr {
    margin: 10px 0;
}

.tombol-video {
    padding: 40px 0;
}

.btn-video {
    color: rgb(158, 98, 98);
    border: 2px solid rgb(158, 98, 98);
    border-radius: 6px;
}

.btn-video:hover {
    color: #e4e4e4;
    background-color: rgb(255, 81, 81);
    transition: all 0.5s;
    border: 2px solid #e4e4e4;
}

.video-right {
    float: right;
    position: relative;
    margin-top: 60px;
}

.galeri {
    
    padding-bottom: 200px;
    text-align: center;
}

.foto {
    width: 33%;
    float: left;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.gambar {
    position: relative;
    filter: grayscale(50%);
}

.gambar:hover {
    filter: grayscale(0%);
}

.foto p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    display: inline-block;
    width: 80%;
}

.next {
    background-color: brown;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
}

.next:hover {
    border: 2px solid brown;
    color: brown;
    background-color: white;
    transition: all 0.5s;
}

.saran {
    padding: 60px 0 100px 0;
    color: black;
    background-image: url('PIC_9.jpg');
    background-size: cover;
    
}

.kritik {
    text-align: center;
    color: white;
}

.kritik h1 {
    font-size: 32px;
}

input, textarea {
    width: 35%;
    margin-top: 40px;
    padding: 4px;
    border: 2px solid rgb(255, 88, 88);
}

textarea {
    height: 100px;
    margin-top: 20px;
}

.kirim {
    line-height: 30px;
    width: 15%;
    color: white;
    background-color: rgb(255, 88, 88);
    border: 2px solid white;
}

.kirim:hover {
    color: rgb(255, 88, 88);
    border: 2px solid rgb(255, 88, 88);
    background-color: white;
    transition: all 0.5s;
}

.kontak {
    padding-bottom: 200px;
}

.hubungi {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons {
    float: left;
    margin-top: 60px;
}

.maps {
    float: right;
}

.icon {
    position: relative;
    padding-left: 80px;
    text-align: left;
    margin-top: 20px;
}

.icon .fa {
    color: black;
}

.icon div {
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    top: -8px;
}

.icon h2 {
    font-size: 20px;
    color: #333333;
    opacity: 0.8;
}

.icon h2:hover {
    font-size: 20px;
    color: #333333;
    opacity: 1;
}

footer {
    padding: 70px 0;
    background-color: brown;
    border-bottom: 5px solid red;
    color: white;
}

.footer-left {
    float: left;
    letter-spacing: 2px;
}

.footer-right {
    float: right;
}

.clear {
    clear: left;
}

.content {
    padding: 100px 0px;
}

.judul {
    padding-top: 0px;
    padding-bottom: 40px;
}

.isi {
    margin-top: 40px;
}

.isi p {
    margin-left: 30px;
    margin-top: 10px;
    width: 80%;
}

.pp {
    padding-bottom: 350px;
}

.pp h1 {
    letter-spacing: 6px;
}

table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

th {
    padding-top: 20px;
    padding-bottom: 20px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}